* {
    box-sizing: border-box;
}
#gameBoard {
    height: 70vh;
    width: 80vh;
    margin: 0px auto 30px;

}
body {
    background-color: rgb(7, 7, 134);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgb(2, 2, 70);
}
.headerTitle {
    text-align: center;
    color: gainsboro;
}

#start {
    margin: auto;

}
#controls {
    margin: 30px auto 0px;
    width: 200px;
    height: fit-content;
    display: flex;
}
button {
    width: 75px;
    height: 30px;
}
#start {
    background-color: green;
    margin-right: 25px;
}
#reset {
    background-color: red;
    margin-left: 25px;
}
.stat-holder {
    color: gainsboro;
    width: 500px;
    margin: 100px auto 0px;
    display: flex;
    justify-content: center;
}
h2 {
    margin: 0px 5px 0px;
}
.container {
    display: flex;
    margin: 0px 30px 0px;
}
.game-status {
    color: gainsboro;
    width: 400px;
    margin: 0px auto 0px;
    display: flex;
    justify-content: center;
}
/* adds styling to the td elements along with a td-set
class and a td-offset class to give it a checkerboard pattern */
td {
    width: 20px;
    height: 20px;
}
.td-set {
    background-color: rgb(64, 98, 201);
}
.td-offset {
    background-color: rgb(19, 41, 107);
}
.snake {
    background-color: rgb(16, 177, 16);
    border: solid black 1px;
}
.apple {
    background-color: rgb(248, 32, 32);
    border: solid black 1px;
}
